<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currency Exchange</title>
    <link rel="stylesheet" href="awsm.min.css">
  </head>
  <body>
    <main>
      <table align="center" title="Currency calculator">
        <tr>
          <td>
            <fieldset>
              <legend>Amount</legend>
              <label><input type="text"></label>
            </fieldset>
          </td>
          <td>
            <fieldset>
              <legend>First currency</legend>
              <label>opis<input type=""></label>
            </fieldset>
          </td>
          <td>
            <fieldset>
              <legend>Second currency</legend>
              <label>opis<input type=""></label>
            </fieldset>
          </td>
          <td>
            <fieldset>
              <legend>Calculate</legend>
              <label>GO!<input type="submit"></label>
            </fieldset>
          </td>
        </tr>
      </table>
    </main>
  </body>
</html>
